@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

.btn {
  @apply text-white text-base bg-[#05f] py-2 px-4 rounded-full hover:bg-blue-600;
}

.nav-btn {
  @apply py-5 px-3 bg-transparent hover:bg-gray-100 h-full;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}